﻿<h3>Details Details</h3>
<div ng-show="flags.shownFromList == true">Came from post list</div>
<div ng-show="flags.shownFromList == false">Came from direct edit</div>
<div>
    <a href="#" ng-click="refreshPost(post.BlogId)"><span class="glyphicon glyphicon-refresh"></span></a>
</div>
<div>
    <p class="input-group">
        <span class="input-group-addon" style="width: 160px; text-align: left">Title</span>
        <input type="text" class="form-control" ng-model="post.Title" />
    </p>
    <p class="input-group">
        <span class="input-group-addon" style="width: 160px; text-align: left">Content</span>
        <textarea rows="4" cols="50" class="form-control" ng-model="post.Content"></textarea>
    </p>
    
</div>
