﻿<h3>Post List</h3>
<div>
    <a href="#" ng-click="refreshPosts(postService.blogId)"><span class="glyphicon glyphicon-refresh"></span></a>
</div>
<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody ng-repeat="p in posts">
            <tr>
                <td><a href="#" ng-click="showPost(p)">show</a></td>
                <td>{{ p.Title}}</td>
            </tr>
        </tbody>
    </table>
</div>
