﻿@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/App/Post/App.js"></script>
    <script src="~/App/Post/ViewModels/PostListViewModel.js"></script>
    <script src="~/App/Post/ViewModels/PostViewModel.js"></script>
}
@section jsCode {
    angular.bootstrap(document.getElementById("post"), ['post']);
}


<div data-ng-app="post" id="post" data-ng-controller="postListViewModel">
    <h2>{{ pageHeading }}</h2>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" ng-click="showPost()">Post</button>&nbsp;
            <input type="text" ng-model="postService.postId" />
        </div>
    </div>
    <hr />
    <div ng-view></div>
</div>