﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script src="~/App/Blog/App.js"></script>
    <script src="~/App/Blog/ViewModels/RootViewModel.js"></script>
    <script src="~/App/Blog/ViewModels/BlogListViewModel.js"></script>
    <script src="~/App/Blog/ViewModels/BlogViewModel.js"></script>
}
@section jsCode {
    angular.bootstrap(document.getElementById("blog"), ['blog']);
}
<div data-ng-app="blog" id="blog" data-ng-controller="rootViewModel">
    <h2>{{ pageHeading }}</h2>
    <div class="row">
        <h3>Create new blog</h3>
        <div>
            <span>{{ blogService.createBlogMessage }}</span>
            <p class="input-group">
                <span class="input-group-addon" style="width: 160px; text-align: left">Name</span>
                <input type="text" class="form-control" ng-model="blogName" />
            </p>
            <p>
                <button class="btn btn-primary" ng-click="createBlog()">Create</button>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" ng-click="blogList()">Blog List</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" ng-click="showBlog()">Blog</button>&nbsp;
            <input type="text" ng-model="blogService.blogId" />
        </div>
    </div>
    <hr />
    <div ng-view></div>
</div>