﻿<h3>Blog List</h3>
<div>
    <a href="#" ng-click="refreshBlogs()"><span class="glyphicon glyphicon-refresh"></span></a>
</div>
<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Posts</th>
            </tr>
        </thead>
        <tbody ng-repeat="b in blogs">
            <tr>
                <td><a href="#" ng-click="showBlog(b)">show</a></td>
                <td>{{ b.Name}}</td>
                <td><a href="#" ng-click="viewModelHelper.redirect('posts/'+b.BlogId)">Posts</a></td>
            </tr>
        </tbody>
    </table>
</div>
