﻿<h3>Details Details</h3>
<div ng-show="flags.shownFromList == true">Came from blog list</div>
<div ng-show="flags.shownFromList == false">Came from direct edit</div>
<div>
    <a href="#" ng-click="refreshBlog(blog.BlogId)"><span class="glyphicon glyphicon-refresh"></span></a>
</div>
<div>
    <p class="input-group">
        <span class="input-group-addon" style="width: 160px; text-align: left">Name</span>
        <input type="text" class="form-control" ng-model="blog.Name" />
    </p>
    
</div>
